@charset "utf-8";

/*  색상 변수들
    원하는 영역의 색을 한 번에 변환 가능합니다. */

:root {
  --lightest: #e9f3f9;
  --middle: #faebef;
  --darkest: #d2cbe4;
  --highlight: #fee5e8;
  --text: #576c8a;
  --white: #ffffff;

  --background: linear-gradient(var(--middle), var(--lightest));
  --moreLess: var(--darkest);
  --name: var(--highlight);
  --reply-control: var(--lightest);
  --inner-textarea: var(--darkest);
  --paging: var(--text);
  --white-background: rgba(255, 255, 255, 0.8);
  --menu-background: var(--white-background);
  --textarea: var(--white-background);

  --width: 90vw;
}

/*
  기본 스타일은 모바일 뷰를 기준으로 작성되어 있습니다.
  데스크탑 뷰의 스타일링은 최하단의 @media {} 내부를 참고해주세요.
*/

a,
a:link,
a:visited,
a:hover {
  color: var(--text);
  text-decoration: none;
  word-break: break-all;
}

html {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  font-size: 8pt;
}

body {
  padding: 3rem 1rem;
  background: var(--background);
  background-attachment: fixed;
  color: var(--text);
  line-height: 1.5em;
}

#top-container,
#content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_postbtn,
a[href^="/toolbar/popup/abuseReport/"] {
  /* 저작권 및 공감, 공유, 통계 버튼 */
  /* 댓글 신고 버튼 */
  display: none;
}

/*
	메뉴 스타일
*/

nav {
  margin-bottom: 1.5rem;
}

nav ul,
nav li {
  all: unset;
}

nav ul {
  display: flex;
  padding-left: 0;
}

.menu__button {
  display: block;
  text-align: center;
  min-width: 5em;
  padding: 0.2em 0 0.4em 0;
  background-color: var(--menu-background);
}

.menu__button:hover {
  background-color: var(--highlight);
}

nav li:first-child a {
  border-radius: 1rem 0 0 1rem;
}
nav li:last-child a {
  border-radius: 0 1rem 1rem 0;
}

#board-menu {
  display: none;
  justify-content: center;
}

#board-menu a {
  border-radius: 0.5rem;
  min-width: 0;
  padding: 0.2em 0.5em 0.4em 0.5em;
  margin: 0 0.25rem;
}

/*
  본문 스타일
*/

main {
  width: var(--width);
}

main > article {
  margin: 1rem 0;
  width: 100%;
}

.article__info,
.article__info a {
  font-weight: normal;
  color: var(--darkest);
}

.article__content {
  background-color: var(--white-background);
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem 0 1rem 0;
}

.article__content .imageblock {
  max-width: 100%;
  margin: 0 auto !important;
}

.article__protected {
  text-align: center;
}

.article__protected__input {
  all: unset;
  border-bottom: 1px solid var(--darkest);
  padding: 0.5rem 1rem;
  text-align: center;
}

.article__protected__button {
  float: inherit !important;
}

div[data-ke-type="moreLess"] {
  width: 100%;
  float: center;
  text-align: center;
  margin: 0 auto;
}

div[data-ke-type="moreLess"] .btn-toggle-moreless {
  border-radius: 1em;
  background-color: var(--moreLess);
  cursor: pointer;
  text-align: center;
  font-family: "굴림" !important;
  font-size: 8pt !important;
  padding: 0.5em 1em;
  color: var(--white) !important;
}

iframe[allowfullscreen]:not([data-tweet-id]) {
  /* 유튜브 동영상 embed 속성 */
  width: 100%;
  max-height: 30vh;
}

.twitter-tweet {
  /* 트위터 트윗 embed 속성 */
  width: 100%;
  margin: 0 auto;
}

/*
	댓글 스타일
*/

.rp_admin,
.rp_general,
.rp_secret,
.guest_admin,
.guest_general,
.guest_secret {
  background-color: var(--white-background);
  border-radius: 0px 1rem 1rem 2rem;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
}

ul > .rp_admin,
ul > .rp_general,
ul > .rp_secret,
ul > .guest_admin,
ul > .guest_general,
ul > .guest_secret {
  margin-left: 3rem;
}

.comment__name {
  font-weight: bold;
  color: var(--text);
}

.comment__date {
  color: var(--reply-control);
  float: right;
}

.comment__control a {
  color: var(--reply-control);
}

article ul {
  all: unset;
}

/* 댓글 메모, 비밀댓글 스타일 */

.memo {
  color: var(--moreLess);
}

.rpSecretBox {
  background-color: var(--moreLess);
  color: var(--white);
  padding: 0px 3px 1px 3px;
  margin: 2px 0 0 0;
}

/* 댓글 접기 버튼 */

.commentMoreLess {
  all: unset;
  cursor: pointer;
  background-color: var(--moreLess);
  color: var(--white);
  padding: 0px 3px 1px 3px;
  margin: 2px 0 0 0;
}

/* 댓글, 방명록 쓰기 영역 */

.comment__button {
  all: unset;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0px;
  background: var(--highlight);
  color: #fff;
  text-align: center;
  float: right;
  margin-left: 0.5em;
}

.comment__input {
  all: unset;
  width: calc(10% - 1rem);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--textarea);
  color: var(--inner-textarea);
  margin-right: 0.5em;
}

input[type="checkbox"],
input[type="checkbox"] + label {
  vertical-align: middle;
  color: var(--darkest);
}

textarea {
  all: unset;
  border-radius: 1em;
  background: var(--textarea);
  color: var(--inner-textarea);
  padding: 1em 2em;
  width: calc(var(--width) - 4em);
  margin-top: 0.5em;
}

/*
  방명록
*/
#guest__list,
.guest__write {
  width: 100%;
}

#guest__list ul {
  all: unset;
}

/*
	태그
*/

#taglog {
  background-color: var(--white-background);
  border-radius: 1rem;
  margin: 0.5rem 0 1rem 0;
  text-align: justify;
  min-height: 40vh;
  padding: 10vh 10vw;
}

.taglog__items {
  all: unset;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  background-color: var(--highlight);
  border-radius: 1rem;
  margin: 0.25rem;
}

.taglog__items:hover {
  background-color: var(--white-background);
}

/*
  페이징, 푸터
*/

.paging {
  width: 100%;
  margin: 1em 0;
  word-spacing: 0.5em;
  text-align: left;
}

.paging a {
  color: var(--paging);
}

.paging span.selected {
  color: var(--darkest);
}

footer,
footer a {
  color: var(--darkest) !important;
}

/*
	스크롤바
*/

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
  border-radius: 1rem;
}

body::-webkit-scrollbar-track {
  height: 80%;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 1000px) {
  #top-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5rem;
  }

  #content-container {
    width: 50vw;
    min-width: 750px;
    max-width: 1000px;
  }

  textarea {
    width: calc(50vw - 4em);
    min-width: calc(750px - 4em);
    max-width: calc(1000px - 4em);
  }

  nav ul {
    flex-direction: column;
    margin-right: 7rem;
  }

  nav li + li {
    margin-top: 4rem;
  }

  nav li a,
  nav li:first-child a,
  nav li:last-child a {
    border-radius: 1rem;
  }

  .comment__input {
    width: 15%;
  }

  iframe[allowfullscreen]:not([data-tweet-id]) {
    /* 유튜브 동영상 embed 속성 */
    min-height: 30vh;
    max-height: 100%;
  }

  #taglog {
    padding: 10vh 10%;
  }
}
